body{
    display: block;
    margin: auto;
    width: 640px;
    margin-top:10px;
}
.row{
    display: flex;
}
.tile{
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
}
img{
    bottom: 0px;
}
